VITE_API_URL=http://localhost:4000
VITE_TENANT_ID=
VITE_EXTERNAL_AUTH=false
VITE_VASE_APP_URL=https://vase.ar
VITE_VASE_APP_LAUNCH_URL=https://vase.ar/app/business/launch
VITE_VASE_APP_LOGIN_URL=https://vase.ar/signin
VITE_VASE_APP_SIGNUP_URL=https://vase.ar/register
